<div class="fh5co-loader"></div>
  
  <div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="fh5co-top-logo">
        <div id="fh5co-logo"><a href="/">{{site.title}}</a></div>
      </div>
      
      <div class="fh5co-top-menu menu-1 text-center">
        
      </div>
      <div class="fh5co-top-menu menu-1 text-right">
        <ul class="">
          
          <li><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
          <li><a href="http://felipe.al">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
