<header class="site-header">
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <!-- <img class='img-responsive inline-block' src="{{site.baseurl}}/images/yo.jpg"> -->
        {{site.title}}</a>
      <span class="navbar-text float-xs-left">
        In the quest to see how can street performin influence civic-tech.
      </span>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://felipe.al">Blog</a></li>
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/contact/">Contact</a></li>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
