<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="webjeda">
            {% endif %}
        </div>
            
        
        <div class="mt10 recent">
            <h2>Links</h2>        
             <ul>
                {% for link in page.links %}
                      <li>
                      <p><a href="{{ link.url }}">
                        {% if link.type=='github'%}
                          <i class="fa fa-github-alt" aria-hidden="true"></i>
                           Github
                        {% elsif link.type=='link'%}
                          <i class="fa fa-globe" aria-hidden="true"></i>
                           Visit
                        {% endif %}</a></p>
                      </li>

                {% endfor %}
              </ul>
        </div>
        
</div>